@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="imageInsertionTitle">
        <h2 id="imageInsertionTitle">Insert/View Images</h2>
        <p><a class="btn btn-outline-dark" href="@Url.Action("Add", "Image")">Click here &raquo;</a></p>
    </section>

    <section class="row" aria-labelledby="userRegistrationTitle">
        <h2 id="userRegistrationTitle">User Insert/View/Update/Delete</h2>
        <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Registration")">Click here &raquo;</a></p>
    </section>

</main>
